


<section id="hero" >
  <div class="hero-container">
         <div>
              <h1 class="font-weight-bold"> Stationner votre voiture en toute sécurité</h1>

              
          </div>
                   
          <app-hero-here>   </app-hero-here>
                <!--
                <div class="input-group mb-3 mx-auto" style="width: 350px;">
                  <div class="input-group-prepend">
                    
                  </div>
                 <input ngx-google-places-autocomplete placeholder="Saisir votre adreese ou ville"
                  (onAddressChange)="AddressChange($event)" type="text" class="form-control"  aria-label="" aria-describedby="basic-addon1">
                  <p>{{formattedaddress}}</p>   -->
                   


  </div>

  




