<section id="hero">
  <div class="hero-container">
     <div class="hero-logo">
        <h1 class="font-weight-bold"> Plats faits maison à moindre prix</h1>
     </div>
      <h2 class="font-weight-bold"> Faites vous livrer vous envies</h2>
      <h4>  Milliers de plats traditionnels sur commande</h4>
       <div class="container mb-">



                <div class="input-group mb-3 mx-auto" style="width: 350px;">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div>
               <!--  <input ngx-google-places-autocomplete placeholder="Saisir votre adreese ou ville"
                  (onAddressChange)="AddressChange($event)" type="text" class="form-control"  aria-label="" aria-describedby="basic-addon1">
                  <p>{{formattedaddress}}</p>   -->
                </div>


     </div>

 </div>



</section>
