<section id="variety" class="variety pt-4">
  <div class="container">
     <div class="section-title">
       <h2 class="text-center font-weight-bold"> {{property?.name}} </h2>
        <p>  This is a text, to test categories, to test     </p>
      </div>


           <!---->
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card">
           <div class="card-img">
             <img src="../../../assets/images/categorie8.jpg" alt="">
           </div>
            <div class="card-body">
               <h5 class="card-title">
                 <a href="#"> Salad kinds</a>

               </h5>
               <p class="card-text">
                 Ce pat tradionnel connu sur plusieurs
                 communes bretonnes en Bretagne
               </p>
               <div class="read more"> <a href="#" >
                    <i class="fas fa-arrow-circle-right"></i>
                    Read More
               </a>
             </div>
             </div>
        </div>
      </div>

       <!-- Onother  div image-->

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card">
           <div class="card-img">
             <img src="../../../assets/images/categorie5.jpg" alt="">
           </div>
            <div class="card-body">
               <h5 class="card-title">
                 <a href="#"> Salad kinds</a>

               </h5>
               <p class="card-text">
                 Ce pat tradionnel connu sur plusieurs
                 communes bretonnes en Bretagne
               </p>
               <div class="read more"> <a href="#" >
                    <i class="fas fa-arrow-circle-right"></i>
                    Read More
               </a>
             </div>
             </div>
        </div>
      </div>


      <!-- End div image-->

     </div>


  </div>


</section>
